html {
    background: url(rubber_ducky_edited.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title_box {
    font-weight: 100;
    font-family: 'Lato', serif;
    color: white;
    font-size: 5.0em;
}

#input_box {
    flex: 1;
    width: 25vw;
    display: flex;
}

.problem {
    margin-bottom: 5vh;
    align-self: flex-end;
    width: 100%;
    height: 15vh;
    border: 1px solid white;
    background-color: #ad9169;
    resize: none;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
}


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

@media only screen and (max-device-width: 750px) {
    #input_box {
        width: 50vw;
    }
    .problem {
        height: 20vh;
    }
}